.navbar-brand {
  text-decoration: none;
}
.jumbotron {
  display: flex;
  background-image: url('http://www.badger-sett.com/images/jumbotron.jpg');
  background-size: 100% 100%;
  align-items: center;
  color: black;
  height: 400px;
  margin-top: 40px;
}

#leftname {
font-family: 'Bahiana', cursive;
font-size: 30px;
}
#title h1 {
  font-family: 'Bungee Shade', cursive;
}

.row h1 {
  font-family: 'Bahiana', cursive;
}

.thumbnail {
padding-top: 10px;
border: none;
}
.thumbnail img {
    height:250px;
    width:100%;
    border: 1px;
    border-radius: 5px;

}
.img-responsive {
  max-width: 600px;
}
#custom_carousel .item  .top {
    overflow:hidden;
    margin-bottom:15px;
}
#custom_carousel .item {

    color:#000;
    background-color:#fff;
    padding:20px 0;
    overflow:hidden
}
#custom_carousel .item img{
width:100%;
height:auto
}

#custom_carousel .izq
{
    position:absolute;
  left: -25px;
  top:40%;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px;
  height: 40px;
  width : 40px;
  margin-top: 30px;
}
/* Next button  */
#custom_carousel .der
{
       position:absolute;
  right: -25px !important;
  top:40%;
  left:inherit;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px;
  height: 40px;
  width : 40px;
  margin-top: 30px;
}
#custom_carousel .controls{

    overflow:hidden;
    padding:0;
    margin:0;
    white-space: nowrap;
    text-align: center;
    position: relative;
    background:#fff;
    border:0;
}
#custom_carousel .controls .nav{

    padding:0;
    margin:0;
    white-space: nowrap;
    text-align: center;
    position: relative;
    background:#fff;
    width: auto;
    border: 0;
}
#custom_carousel .controls li {
    transition: all .5s ease;
    display: inline-block;
    max-width: 100px;
    height: 90px;
    opacity:.5;
}
#custom_carousel .controls li a{
    padding:0;
}
#custom_carousel .controls li img{
width:100%;
height:auto
}

#custom_carousel .controls li.active {
    background-color:#fff;
    opacity:1;
}
#custom_carousel .controls a small {
    overflow:hidden;
    display:block;
    font-size:10px;
    margin-top:5px;
    font-weight:bold
}
